<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Musical Musings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="header">
    <div><h1><a href="{{ url_for('index') }}">Music Musings</a></h1></div>
    {% if g.user %}
    <div class="user-info">
      <div>{{ g.user['username'] }}</div>
      <div><a href="{{ url_for('auth.logout') }}">Log Out</a></div>
    </div>
    {% else %}
    <div class="user-info">
      <div><a href="{{ url_for('auth.register') }}">Register</a></div>
      <div><a href="{{ url_for('auth.login') }}">Log In</a></div>
    </div>
    {% endif %}
  </div>
  <!-- <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section> -->
</body>
